.canvasWrapper {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
