.canvasWrapper {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
}

.levelSelect {
    font-size: 14px;
    margin-bottom: 10px;
}

.levelList {
    display: flex;
    flex-wrap: wrap;
}
